@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Chicago Plain';
  font-style: normal;
  font-weight: normal;
  src: local('Chicago Plain'), url('./Chicago.woff') format('woff');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Chicago Plain", sans-serif;
}